// colors and breakpoints

$approveClr: #5aac44;
$cancelClr: #d11a2a;

$black: #292929;
$white: #f9f9f9;
$darkBlue: #152238;

$labelGreen: #61bd4f;
$labelYellow: #f2d600;
$labelOrange: #ff9f1a;
$labelRed: #eb5a46;
$labelPurple: #c377e0;
$labelBlue: #028ad8;
$labelGrey: #a7a7a7;
$labelBlack: #202020;


$facebook: #3b5998;
$linkedin: #0072b1;
$gmail: #d44638;
